{% extends "base.html" %}

{% block content %}
    <h1>Photo List</h1>

    {% if photo_list %}
    <ul>

      {% for photo in photo_list %}
      <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/w3images/lights.jpg">
                <img src="{{ photo.photo.url }}" alt="Lights" style="width:100%">
                <div class="caption">
                  <p><a href="{{ photo.get_absolute_url }}">{{ photo.name }}</a></p>
                  <p>{{photo.caption}}</p>
                </div>
              </a>
            </div>
          </div>

      {% endfor %}

    </ul>
    {% else %}
      <p>There are currently no photos.</p>
    {% endif %}       
{% endblock %}